html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}
body{line-height:1; font-family: arial;}
h1{font-size: 25px;line-height: 50px;}h2{font-size: 21px;}h3{font-size: 18px;}h4{font-size: 16px;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
nav ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:none}
a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent}
ins{background-color:#ff9;color:#000;text-decoration:none}
mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}
del{text-decoration:line-through}
abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}
table{border-collapse:collapse;border-spacing:0}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}
input,select{vertical-align:middle}

body,html {
	background-color: #FFF;
}
header {
    background: #beaecf;
    padding: 20px 30px;
    max-width: 940px;
    margin: auto;
}
nav {
    display: inline-block;
    float: right;
    margin-top: 15px;
}
nav ul li a {
    background: #EEE;
    padding: 10px 20px;
    font-size: 20px;
    text-decoration: none;
    font-weight: bold;
    color: #444;
}
nav ul li a:hover {
	background: #FFF;
}
nav ul li {
    display: inline-block;
    margin: 10px;
}
nav ul {
    list-style: none;
}
#pageContent {
    max-width: 1000px;
    margin: auto;
    border: none;
}
main {
	float: left;
	width: 60%;
}
aside {
	float: right;
	width: 30%;
}
article {
    padding-bottom: 10px;
    margin-bottom: 20px;
    padding-top: 30px
}
article h2 {
    font-weight: normal;
    margin-bottom: 20px;
}
article p {
	
}
main section {
	
}
footer {
	background: #beaecf;
	max-width: 1000px;
	margin: auto;
	clear: both;
	text-align: right;
    height: 100px;
}
footer p {
	padding: 20px;
}
address {
    padding: 10px 20px 30px 10px;
    text-align: center;
    width: 300px;
    margin: auto;
    background: #fff;
}

aside > div {
	margin: 20px auto;
	min-height: 100px;
}
#logo {
    display: inline-block;
    vertical-align: middle;
    font-size: 30px;
    margin-right: 75px;
    color: #FFF;
}
#logo img {
    width: 150px;
    vertical-align: middle;
    margin-right: 10px;
}
body > section {
    max-width: 1000px;
    margin: auto;
    padding: 30px 0px;
    color: #333;
}

.section_acceuil {
    background: url(girl.jpg);
    height: 400px;
    background-position: center;
    background-size: cover;
}

.section_contact {
    background: url(map.png);
    height: 400px;
    background-position: center;
    background-size: cover;
    margin-top: 30px;
    margin-bottom: 30px;
}

.section_contact h2 {
    margin-bottom: 25px;
    margin-top: 25px;
}

.section_contact p {
    line-height: 30px;
}

.section_salon_1 {
    background: url(hella_studio-1.jpg);
    height: 400px;
    background-position: center;
    background-size: cover;
    margin-top: 10px;
    margin-bottom: 10px;
}

.section_salon_2 {
    background: url(hella_studio-2.jpg);
    height: 400px;
    background-position: center;
    background-size: cover;
    margin-top: 10px;
    margin-bottom: 10px;}

.section_salon_3 {
    background: url(hella_studio-3.jpg);
    height: 400px;
    background-position: center;
    background-size: cover;
    margin-top: 10px;
    margin-bottom: 10px;}

.section_salon_1 .slide_text h2 {
    color: #000;
    background: #fff;
    padding: 20px;
    line-height: 30px;
}

.section_salon_2 .slide_text h2 {
    color: #000;
    background: #fff;
    padding: 20px;
    line-height: 30px;
}

.section_salon_3 .slide_text h2 {
    color: #000;
    background: #fff;
    padding: 20px;
    line-height: 30px;
}

.copyright {
    float: left;
    margin-top: 20px;
}

.slide_text {
    width: 50%;
    padding-left: 40px;
    padding-top: 50px;
}

.social_media {
    display: inline-block;
    margin-top: 30px;
    margin-right: 20px;
}

.social_media img {
    width: 32px;
    margin-left: 15px;
}